/* Estilos generales para el catálogo */
.catalogo-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.producto-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px; /* Espacio entre los productos */
}

.producto {
    box-sizing: border-box;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos en el eje horizontal */
    justify-content: center; /* Centra los elementos en el eje vertical */
    text-align: center; /* Centra el texto dentro del recuadro */
    page-break-inside: avoid; /* Evita que el producto se divida entre páginas */
}

.producto span {
    display: block;
    margin-bottom: 5px;
}

.descripcion {
    font-weight: bold;
    font-size: 20px; /* Tamaño de fuente para la descripción */
}

.precio {
    font-size: 100px; /* Tamaño de fuente para el precio */
    font-weight: bold;
    color: #000; /* Color negro para el precio */
}

@media print {
    .producto-list {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas para la impresión también */
    }

    .producto {
        border: 2px solid #ccc;
        padding: 15px;
    }
}
