/* Estilos generales para el catálogo */
.catalogo-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.producto-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.producto {
    width: calc(50% - 20px); /* Ajusta el ancho de los productos para dos columnas */
    box-sizing: border-box;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

.producto span {
    display: block;
    margin-bottom: 5px;
}

.descripcion {
    font-weight: bold;
    font-size: 16px; /* Tamaño de fuente para la descripción */
}

.precio {
    font-size: 20px; /* Tamaño de fuente para el precio */
    font-weight: bold;
    color: #000; /* Color negro para el precio */
}

@media print {
    .producto-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .producto {
        width: 100%;
        border: 2px solid #ccc;
        background-color: #f9f9f9;
        padding: 15px;
        margin: 0;
    }
}
